// Fonts
@import 'fonts';
@import 'components/forms';
@import 'components/sidebar';

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
}

body {
    font: 16px 'Brandon', sans-serif;
    color: #666;
}

#header.header {
    height: 60px;
}

#sidebar.sidebar {
    background: linear-gradient(180deg, #637bff, #21c8f6);
    height: 100%;
    width: 220px;
}

#sidebar.sidebar .logo {
    height: 60px;
}

/** Tailwind */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
