.sidebar .navigation ul li {
    font-family: 'Brandon-Bold';
    font-weight: 700;
    padding: 10px 15px;
}

.sidebar .navigation ul.navigation-group ul li {
    font-family: 'Brandon';
    font-weight: 400;
    padding-left: 25px;
}
