.sidebar .navigation ul li {
    font-family: 'Brandon-Bold';
    font-weight: 700;
    padding: 10px 15px;
    transition: .3s;
    text-decoration: none;

    a {
        color: white;
        text-decoration: none;
    }

    &.active::before {
        color: orange;
        content: "brightness_1";
        font-family: 'Material Icons';
        font-size: .5rem;
        margin-right: 3px;
    }
}

.sidebar .navigation ul li:hover {
    padding-left: 20px;
}

.sidebar .navigation ul.navigation-group ul li {
    font-family: 'Brandon';
    font-weight: 400;
    padding-left: 25px;
    transition: .3s;

    a {
        color: white;
        text-decoration: none;
    }

    &.active::before {
        color: orange;
        content: "brightness_1";
        font-family: 'Material Icons';
        font-size: .5rem;
        margin-right: 3px;
    }
}



.sidebar .navigation ul.navigation-group ul li:hover {
    font-family: 'Brandon-bold';
    font-weight: bold;
    padding-left: 30px;
}
